{% extends 'basic.html' %}

{% block head %}
<title> Home </title>
{% endblock %}

{% block body %}
<h1> Home </h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to AI Eagles Blog</h1>
            <p>AI Eagles is a startup for building intelligent solutions using Artificial Intelligence, Machine
                Learning, and Deep Learning for Applications in Data Analysis, Data Science, Computer Vision, and NLP
                🥇🥇🥇
                <a href="https://www.FaceBook.com/AIEagles">FaceBook Page</a> <br>AI Eagles offers many services,in
                general we transform your work into intelligent solutions starting from Data Analysis/Science up to building complex
                Models for Computer Vision and NLP. <br> AI Eagles also offers an AI professional Diploma for students
                or companies starting from scratch till be a Machine Learning Engineer or Data Analyst or Data Scientist.
            </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
                <a class="btn btn-success float-right" href="/posts/new" role="button">Create New Post &raquo;</a>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}